/* DietNormal.css */
.diet-normal {
    text-align: center;
    margin: 20px;
}

.diet-normal table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    font-size: 1.2em;
}

.diet-normal th, .diet-normal td {
    border: 1px solid #ddd;
    padding: 10px;
}

.diet-normal th {
    background-color: #f4a300;
    color: white;
}

.diet-normal tr:nth-child(even) {
    background-color: #f9f9f9;
}

.diet-normal tr:hover {
    background-color: #ddd;
}
