/* DietOverweight1.css */
.diet-overweight1 {
    text-align: center;
    margin: 20px;
}

.diet-overweight1 table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    font-size: 1.2em;
}

.diet-overweight1 th, .diet-overweight1 td {
    border: 1px solid #ddd;
    padding: 10px;
}

.diet-overweight1 th {
    background-color: #f4a300;
    color: white;
}

.diet-overweight1 tr:nth-child(even) {
    background-color: #f9f9f9;
}

.diet-overweight1 tr:hover {
    background-color: #ddd;
}
